*{
    margin: 0;
    padding: 0;
}
.container{
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0.25turn, #d0d0d0, #cccc, #000);
    /* background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%); */
    border: 5px solid #2e2626;
    border-radius: 50%;
    margin: 20px auto;
    position: relative;
}
.number{
    color: #ffff;
    font-size: 1rem;
}
.number .number1{
position: absolute;
right: 50px;
top: 5%;
}
.number .number2{
position: absolute;
right: 22px;
top: 20%;
}
.number .number3{
position: absolute;
right: 6px;
top: 45%;
}
.number .number4{
position: absolute;
right: 22px;
bottom: 20%;
}
.number .number5{
position: absolute;
right: 50px;
bottom: 5%;
}
.number .number6{
position: absolute;
right: 47%;
bottom: 0%;
color: #000;
}
.number .number7{
position: absolute;
left: 50px;
bottom: 5%;
color: #000;
}
.number .number8{
position: absolute;
left: 22px;
bottom: 22%;
color: #000;
}
.number .number9{
position: absolute;
left: 6px;
bottom: 45%;
color: #000;
}
.number .number10{
position: absolute;
left: 22px;
top: 20%;
color: #000;
}
.number .number11{
position: absolute;
left: 50px;
top: 5%;
color: #000;
}
.number .number12{
position: absolute;
left: 47%;
top: 0%;
color: #000;
}
.hour-hand, .minute-hand, .second-hand{
    position: absolute;
    background-color: #000;
    border-top-left-radius: 10px;
}
.center{
    background-color: #000;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hour-hand{
    width: 4px;
    height: 45px;
    top: 50%;
    left: 50%;
    transform-origin: bottom center;
}
.minute-hand{
    width: 3px;
    height: 70px;
    top: 50%;
    left: 50%;
    transform-origin: bottom center;
}
.second-hand{
    width: 2px;
    height: 80px;
    top: 50%;
    left: 50%;
    transform-origin: bottom center;
}